<%% form_for @<%= singular_name %> do |f| %>
  <%%= f.error_messages %>
  <p>
  <%%= f.label :email %><br />
  <%%= f.text_field :email, :value => @<%= singular_name %>.email %>
  </p>
  <p>
  <%%= f.label :klient %><br />
  <%%= f.text_field :klient, :value => @<%= singular_name %>.klient %>
  </p>
  <p>
  <%%= f.label :adres %><br />
  <%%= f.text_field :adres, :value => @<%= singular_name %>.adres %>
  </p>
  <p>
  <%%= f.label :kod %><br />
  <%%= f.text_field :kod, :value => @<%= singular_name %>.kod %>
  </p>
  <p>
  <%%= f.label :miasto %><br />
  <%%= f.text_field :miasto, :value => @<%= singular_name %>.miasto %>
  </p>
  <p>
  <%%= f.label :opis %><br />
  <%%= f.text_field :opis, :value => @<%= singular_name %>.opis %>
  </p>
  <p>
  <%%= f.label :kwota %><br />
  <%%= f.text_field :kwota, :value => @<%= singular_name %>.kwota %>
  </p>
 <p><%%= f.submit t('submit') %></p>
<%% end %>
