<%% t('transactions') %>

<%% if @<%= plural_name %>.present? %>
  <table>
    <tr>
      <th><%= singular_name %> id</th>
      <th>Klient</th>
      <th>Kwota</th>
      <th>Email</th>
      <th>Opis</th>
      <th>Metoda</th>
      <th>Verified</th>
    </tr>
    <%% for <%= singular_name %> in @<%= plural_name %> %>
      <tr>
        <td><%%=h <%= singular_name %>.order_id  %></td>
        <td><%%=h <%= singular_name %>.klient %></td>
        <td><%%=h number_to_currency(<%= singular_name %>.kwota_pln) %></td>
        <td><%%=h <%= singular_name %>.email %></td>
        <td><%%=h <%= singular_name %>.opis %></td>
        <td><%%=h <%= singular_name %>.metoda %></td>
        <td><%%=h <%= singular_name %>.is_verified %></td>
        <td><%%= link_to t('show'), <%= singular_name %> %></td>
        <td><%%= link_to t('destroy'), <%= singular_name %>, :confirm => t('are_you_sure'), :method => :delete %></td>
      </tr>
    <%% end %>
  </table>
<%% else %>
  <p><%%= t('no_transactions') %></p>
<%% end %>
