<%%= link_to 'normal payment', confirm_<%= singular_name %>_url %>
<%%= link_to 'test ok payment', confirm_<%= singular_name %>_url(:test => 'TEST_OK') %>
<%%= link_to 'test error payment', confirm_<%= singular_name %>_url(:test => 'TEST_ERR') %>

<%% form_tag 'https://secure.przelewy24.pl/index.php' do %>

  <%% @payment.attributes_for_p24.each do |key, value| %> 
    <%% if key == 'p24_opis' %>
      <%%= hidden_field_tag key, params[:test] || value %>
    <%% else %>
      <%%= hidden_field_tag key, value %>
    <%% end %>
  <%% end %>

  <%%= hidden_field_tag :p24_return_url_ok, ok_<%= plural_name %>_url %>
  <%%= hidden_field_tag :p24_return_url_error, error_<%= plural_name %>_url %>

  <div id="confirm">
    <p>
    <strong>Email:</strong>
    <%%=h @<%= singular_name %>.email %>
    </p>
    <p>
    <strong>Klient:</strong>
    <%%=h @<%= singular_name %>.klient %>
    </p>
    <p>
    <strong>Adres:</strong>
    <%%=h @<%= singular_name %>.adres %>
    </p>
    <p>
    <strong>Kod:</strong>
    <%%=h @<%= singular_name %>.kod %>
    </p>
    <p>
    <strong>Miasto:</strong>
    <%%=h @<%= singular_name %>.miasto %>
    </p>
    <p>
    <strong>Opis:</strong>
    <%%=h @<%= singular_name %>.opis %>
    </p>
    <p>
    <strong>Kwota:</strong>
    <%%=h @<%= singular_name %>.kwota %>
    </p>
  </div>
  <p><%%= submit_tag t('submit_to_p24') %></p>
<%% end %>
