<%%= form_for @<%= singular_name %> do |f| %>
  <p>
  <%%= label_tag t('przelewy24.email') %><br />
  <%%= f.text_field :email, :value => @<%= singular_name %>.email %>
  </p>
  <p>
  <%%= label_tag t('przelewy24.klient') %><br />
  <%%= f.text_field :klient, :value => @<%= singular_name %>.klient %>
  </p>
  <p>
  <%%= label_tag t('przelewy24.adres') %><br />
  <%%= f.text_field :adres, :value => @<%= singular_name %>.adres %>
  </p>
  <p>
  <%%= label_tag t('przelewy24.kod') %><br />
  <%%= f.text_field :kod, :value => @<%= singular_name %>.kod %>
  </p>
  <p>
  <%%= label_tag t('przelewy24.miasto') %><br />
  <%%= f.text_field :miasto, :value => @<%= singular_name %>.miasto %>
  </p>
  <p>
  <%%= label_tag t('przelewy24.opis') %><br />
  <%%= f.text_field :opis, :value => @<%= singular_name %>.opis %>
  </p>
  <p>
  <%%= label_tag t('przelewy24.kwota') %><br />
  <%%= f.text_field :kwota, :value => @<%= singular_name %>.kwota %>
  </p>
 <p><%%= f.submit t('przelewy24.submit') %></p>
<%% end %>
