<%% t('przelewy24.view_all') %>

<%% if @<%= plural_name %>.present? %>
  <table>
    <tr>
      <th><%%= t('przelewy24.order') %></th>
      <th><%%= t('przelewy24.klient') %></th>
      <th><%%= t('przelewy24.kwota') %></th>
      <th><%%= t('przelewy24.email') %></th>
      <th><%%= t('przelewy24.opis') %></th>
      <th><%%= t('przelewy24.metoda') %></th>
      <th><%%= t('przelewy24.is_verified') %></th>
    </tr>
    <%% for <%= singular_name %> in @<%= plural_name %> %>
      <tr>
        <td><%%=h <%= singular_name %>.order_id  %></td>
        <td><%%=h <%= singular_name %>.klient %></td>
        <td><%%=h number_to_currency(<%= singular_name %>.kwota_pln) %></td>
        <td><%%=h <%= singular_name %>.email %></td>
        <td><%%=h <%= singular_name %>.opis %></td>
        <td><%%=h <%= singular_name %>.metoda %></td>
        <td><%%=h <%= singular_name %>.is_verified %></td>
        <td><%%= link_to t('przelewy24.show'), <%= singular_name %> %></td>
        <td><%%= link_to t('przelewy24.destroy'), <%= singular_name %>, :confirm => t('przelewy24.are_you_sure'), :method => :delete %></td>
      </tr>
    <%% end %>
  </table>
<%% else %>
  <p><%%= t('przelewy24.no_transactions') %></p>
<%% end %>

<%%= link_to t('przelewy24.new'), new_<%= singular_name %>_path %>
